[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
aiogram = "*"
psycopg2-binary = "*"
notion-client = "==0.9.0"
python-dotenv = "*"
gTTS = "*"
wikipedia = "*"
sqlalchemy = "*"
beautifulsoup4 = "*"

[dev-packages]
autopep8 = "*"
cx-freeze = "*"
ipykernel = "*"
flake8 = "*"
pytest = "*"
black = "*"
pytest-cov = "*"
pytest-asyncio = "*"
pytest-tornasync = "*" 
pytest-trio = "*"
pytest-twisted = "*"
twisted = "*"
mypy = "*"

[requires]
python_version = "3.10"

[scripts]
init = "sh -c 'python scripts/init.py'"
bot = "sh -c 'python bot/main.py'"
# don't use build it have some breaks
build = "sh -c './scripts/build.sh'"
test = "sh -c 'pytest --cov-report=html'"
