[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
aiogram = "==3.0.0b6"
notion-client = "==0.9.0"
python-dotenv = "*"
gTTS = "*"
wikipedia = "*"
beautifulsoup4 = "*"
translate = "*"
youtube-search = "*"
tortoise-orm = "*"
pytube = "==12.1.0"
docx2txt = "*"
tiktok-downloader = {git = "https://github.com/krypton-byte/tiktok-downloader"}

[dev-packages]
autopep8 = "*"
ipykernel = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
mypy = "*"
pip = "*"
pytest-tornasync = "*"
types-requests = "*"

[requires]
python_version = "3.11"

[scripts]
bot = "sh -c 'python bot/main.py'"
test = "pytest"
lock = "sh -c 'pipenv requirements > requirements.txt'"
prod = "sh -c 'nohup pipenv run bot &'"
gitup = "sh -c 'git fetch && git pull'"
dbuild = "docker compose build"
drun = "docker compose up -d"
drestart = "docker compose restart"
dstop = "docker compose stop"
