[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
aiogram = "==3.4.0"
notion-client = "==0.9.0"
python-dotenv = "*"
gTTS = "*"
wikipedia = "*"
beautifulsoup4 = "*"
translate = "*"
youtube-search = "*"
tortoise-orm = "*"
docx2txt = "*"
varname = "*"
yt-dlp = "==2025.01.26"
pytube = "*"
pure-eval = "*"
edge-tts = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
mypy = "*"
pip = "*"
pytest-tornasync = "*"
types-requests = "*"
pre-commit = "*"

[requires]
python_version = "3.12"

[scripts]
prod = "sh -c 'nohup pipenv run bot &'"
gitup = "sh -c 'git fetch && git pull'"
lock = "sh -c 'pipenv -q requirements > requirements.txt'"
lock-dev = "sh -c 'pipenv -q requirements --dev > requirements-dev.txt'"
api = "sh -c 'docker compose -f services/bot-api/docker-compose.yml up -d'"
api-ip = "sh scripts/get_bot_api_ip.sh"
