name: Deploy
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: |
          sudo apt -y install build-essential libxml2-dev libxslt-dev
          uv sync --dev --python 3.13
          python scripts/install_site_packages.py ~/.local/lib/python3.12/site-packages

      - name: Run tests
        run: make test
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Deploy with SSH
        uses: fifsky/ssh-action@master
        with:
          command: |
            cd github/gkbot
            make docker-update
          host: ${{ secrets.HOST }}
          user: ${{ secrets.USER_NAME }}
          key: ${{ secrets.PRIVATE_KEY }}
